@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.material-icons {
  font-size: 1rem;
  position: relative;
  top: 2.5px;
}

header {
  height: 5vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  background-color: white;
}

.toggle-button {
  width: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 0.6rem;
  cursor: pointer;
}

.toggle-button--bar {
  display: block;
  background-color: rgb(130, 130, 130);
  width: 100%;
  height: 0.15rem;
  position: relative;
}

.toggle-button span:first-of-type {
  top: 7%;
}

.toggle-button span:last-of-type {
  bottom: 7%;
  width: 65%;
  align-self: flex-end;
}

.business-name {
  font-size: 1.2rem;
  font-weight: 700;
}

.business-name span {
  font-size: 1.2rem;
}

.side-link {
  border-bottom: 1px solid black;
  padding-bottom: 0.2rem;
  width: 7rem;
  margin-right: 0.6rem;
  cursor: pointer;
}

/* main section */
.main-section {
  margin-top: 6vh;
  margin-inline: 2rem;
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0.5) 70%, transparent), url("./images/main-bg.png");
  background-size: cover;
  height: 40vmax;
  position: relative;
}

.main-section h1 {
  color: white;
  font-size: 1.8rem;
  white-space: pre-line;
  padding: 1rem;
}

.red-box {
  background-color: rgb(249, 63, 63, 0.4);
  height: 5rem;
  width: 5rem;
  white-space: pre;
  color: white;
  margin: 2rem;
  position: absolute;
  bottom: 1rem;
}

.red-box .number {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  color: rgb(249, 63, 63, 0.4);
}

/* team section */
.team-section {
  padding: 3rem 2rem;
}

.tag {
  font-size: 0.8rem;
  color: red;
}

.heading {
  font-weight: 500;
}

.team-desc {
  font-size: 0.9rem;
  padding-block: 1rem;
}

.team-figures {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-figure {
  width: 100%;
  border-right: 1px solid rgb(207, 207, 207);
  text-align: center;
  font-size: 2rem;
}

.team-figure:last-child {
  border: none;
}

.team-figure span {
  color: red;
}

.team-figure p {
  font-size: 0.8rem;
  padding-inline: 0.5rem;
}


/* service section */
.services-section {
  padding: 3rem 0 3rem 2rem;
  background-color: rgb(238, 238, 238);
}

.services {
  padding-top: 1.5rem;
  overflow-x: auto;
  display: flex;
  align-items: center;
}

.service {
  margin-right: 1.5rem;
  text-align: center;
  position: relative;
}

.service img {
  height: 18rem;
  width: 12rem;
}

.service .red-top,
.service h3,
.service p {
  position: absolute;
  left: 1rem;
}

.service .red-top {
  width: 2rem;
  height: 0.2rem;
  border-radius: 10px;
  background-color: red;
  bottom: 6rem;
}

.service h3 {
  color: white;
  bottom: 4.5rem;
  font-weight: 500;
}

.service p {
  font-size: 0.8rem;
  color: white;
  text-align: left;
  bottom: 1rem;
}

/* infra section  */
.infra-section {
  padding: 5rem 0 5rem 2rem;
  background: url("./images/set.png");
  background-size: cover;
  background-color: black;
}

.infra-section *,
.infra-section span {
  color: white;
}

.infra-section .team-figures .team-figure {
  text-align: left;
  border: none;
  font-size: 1.5rem;
  white-space: pre-line;
}

.infra-section .team-figures .team-figure .material-icons {
  font-size: 3rem;
}

.infra-section .team-figures .team-figure p {
  padding-inline: 0;
}

/* contact section  */
.contact-section {
  background-color: #f7f7f7;
  padding: 3rem 2rem;
}

.contact-section .heading {
  font-size: 2rem;
}

.contact-section .material-icons {
  color: red;
  font-size: 1.2rem;
}

.contact-section p {
  margin-bottom: 1rem;
  position: relative;
  left: 1.5rem;
  bottom: 1.25rem;
  font-size: 0.9rem;
}

.contact-section img {
  width: 100%;
  box-shadow: 0px 0px 15px rgb(189, 189, 189);
  border-radius: 8px;
}

.contact {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgb(189, 189, 189);
  padding: 2.5rem 1.5rem;
  margin-block: 1rem;
}

.contact form label,
.contact .material-icons {
  color: rgb(120, 120, 120);
  font-size: 0.9rem;
}

.contact form label {
  position: relative;
  top: -3rem;
  transition: top 0.5s;
  pointer-events: none;

}

.contact form input {
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(192, 192, 192);
  background: transparent;
}

.contact form input:focus+label,
.contact form input:valid+label {
  top: -4rem;
}

.contact form input:nth-of-type(4) {
  margin-top: 1rem;
  font-size: 0.9rem;
  height: 2rem;
}

.contact form input:nth-of-type(4)+label {
  top: -5rem;
}

.contact form button {
  padding: 0.4rem 1.5rem;
  font-size: 0.9rem;
  border-radius: 20px;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
}

.contact form button:hover {
  background-color: rgb(162, 0, 0);
}

/* footer section  */
footer {
  background-color: black;
  color: white;
  padding: 3rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 1rem;
  justify-items: center;
}

.s1 ul {
  list-style: none;
  padding-left: 0;
  font-size: 1.2rem;
}

.s1 ul li {
  padding-bottom: 0.5rem;
}

.s2 {
  font-size: 1.2rem;
}

.s2 ul {
  font-size: 0.8rem;
  font-weight: 300;
  padding-left: 1rem;
}

.s3 {
  grid-column: span 2;
  text-align: center;
}

.s3 * {
  margin-bottom: 0.5rem;
}

.s3 div i {
  margin-inline: 0.5rem;
  cursor: pointer;
}

.s3 p {
  font-size: 0.9rem;
}

/* media query */
@media (min-width:40rem) {

  .team-section,
  .infra-section {
    padding-inline: 5rem;
  }

  .services-section {
    padding-left: 5rem;
  }

  .heading {
    white-space: pre-line;
  }

  .team-desc {
    position: relative;
    left: 55%;
    top: -2rem;
    width: 40%;
  }

  .infra-section .heading {
    white-space: initial;
  }

  .infra-section .team-desc {
    position: static;
    width: 80%;
  }

  .main-section h1 {
    padding-top: 3rem;
  }
}

@media (min-width:48rem) {
  .contact-section {
    display: flex;
    gap: 2rem;
  }

  footer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .s3 {
    grid-column-start: 3;
    text-align: right;
  }

  .s3 div {
    margin-bottom: 1.2rem;
  }

  .s2 ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }
}

@media (min-width:58rem) {
  .main-section h1 {
    padding-top: 5rem;
    white-space: initial;
  }

  .main-section h1,
  .main-section .red-box {
    margin-left: 5rem;
  }

  .main-section .red-box {
    bottom: 7rem;
    left: 1rem;
  }

  .heading {
    white-space: initial;
  }

  .services {
    justify-content: space-around;
  }



  .infra-section .team-desc,
  .infra-section .team-figures {
    width: 60%;
  }
}